@mixin clearfix {
    &::after {
        content: '';
        display: table;
        clear: both;
    }
}

@mixin absCenter {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

//media queries manager
/*
- phone
- tab-port
- tab-land
- big-desktop

1em = 16px

Order: Base + typography > general layout + grid > page layout > components
*/
@mixin respond($breakpoin) {
    @if $breakpoin == phone {
        @media (max-width:37.5em){ //600px
            @content
        };
    }

    @if $breakpoin == tab-port {
        @media (max-width:56.25em){ //900px
            @content
        };
    }

    @if $breakpoin == tab-land {
        @media (max-width:75em){ //1200px
            @content
        };
    }

    @if $breakpoin == big-desktop {
        @media (min-width:112.5em){ //1800px
            @content
        };
    }
}